In [1]:
import pandas as pd
import numpy as np

In [2]:
survey_19= pd.read_csv("survey_results_public.csv")


#okunabilirlik açısından kolay olsun diye 1.projedeki gibi MainBranch kolonunu değiştirdim.
survey_19['MainBranch'].replace({'I am a student who is learning to code': 'Student',
  'I am not primarily a developer, but I write code sometimes as part of my work': 'Not a Developer',
  'I am a developer by profession':  'Developer',
  'I code primarily as a hobby':   'Code as hobby',
  'I used to be a developer by profession, but no longer am': 'Was a Developer'}, inplace=True)


#respondent sütununu index olarak ayarladım.
survey_19.set_index('Respondent', inplace = True)


#Haftalık çalışma saati (WorkWeekHrs) ya da yıllık maaş (ConvertedComp) sütunlarındaki değerleri, 
#ilgili sütunun ortalamasının %99'undan daha uzakta veri içeren satırları sildim.
survey_19.drop(survey_19[(survey_19['WorkWeekHrs'] > survey_19['WorkWeekHrs'].mean()*1.99)
                         |(survey_19['WorkWeekHrs'] < survey_19['WorkWeekHrs'].mean()*0.01)].index, inplace = True)

survey_19.drop(survey_19[(survey_19['ConvertedComp'] > survey_19['ConvertedComp'].mean()*1.99)|
                         (survey_19['ConvertedComp'] < survey_19['ConvertedComp'].mean()*0.01)].index, inplace = True)



survey_19['CompTotal'].loc[survey_19['CompFreq'] == 'Monthly'] *= 12
survey_19['CompTotal'].loc[survey_19['CompFreq']=='Weekly'] *= 50

survey_19.YearsCode.replace({'Less than 1 year': 1, 'More than 50 years':50}, inplace=True)
survey_19.YearsCodePro.replace({'Less than 1 year': 1, 'More than 50 years':50}, inplace=True)

C:\Users\Numan\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
#18000den küçük olan ConvertedComp için 0, büyük olan için 1 değerini verdikten sonra Ülkesi Türkiye olanlara ait veriyi df4
#isimli dataframe e atalım.

df4 = survey_19[survey_19.Country == 'Turkey']


usecols = ['ConvertedComp','WorkWeekHrs', 'YearsCode','EdLevel']

df4 = df4[usecols]

#18000 den küçükse 0 sınıfına büyük/eşit ise 1 sınıfına atama yapılması
df4['ConvertedComp']=df4['ConvertedComp'].apply(lambda x: 0 if x < 18000 else 1)

df4.WorkWeekHrs.fillna(df4.WorkWeekHrs.mean(), inplace=True)


df4['YearsCode'].replace({'Less than 1 year': 1,'More than 50 years':50}, inplace=True)

df4.dropna(inplace=True)
df4.YearsCode = df4.YearsCode.astype(int)

dummy_df = pd.get_dummies(df4.EdLevel)
df4 = pd.concat((df4,dummy_df), axis=1)
df4.drop(['EdLevel'], axis=1,inplace=True)

In [20]:
df4.ConvertedComp.value_counts()

1    662
0    242
Name: ConvertedComp, dtype: int64

In [22]:
X = df4.loc[:, df4.columns!='ConvertedComp']
y = df4.ConvertedComp

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

#sırasıyla GridSearcCV kullanarak modelleri deneyelim:
lr = LogisticRegression()
params = {'max_iter': [10000],'penalty': ['none', 'l2'], 'solver':['newton-cg', 'lbfgs','sag', 'saga']}
g_search = GridSearchCV(estimator=lr,param_grid=params, cv=10)
g_search.fit(X,y)
print("Accuracy score of Logistic Regression is "+str(g_search.best_score_))

DTclf = DecisionTreeClassifier()
params = {'criterion':['gini', 'entropy'], 'splitter':['best','random']}
g_search = GridSearchCV(estimator=DTclf,param_grid=params, cv=10)
g_search.fit(X,y)
print("Accuracy score of Decision Tree is "+str(g_search.best_score_))

knn = KNeighborsClassifier()
params = {'n_neighbors' : [3,5,7], 'weights': ['distance','uniform']}
g_search = GridSearchCV(estimator=knn,param_grid=params, cv=10)
g_search.fit(X,y)
print("Accuracy score of KNeighbors Classifier is "+str(g_search.best_score_))

Accuracy score of Logistic Regression is 0.7311965811965813
Accuracy score of Decision Tree is 0.7499145299145299
Accuracy score of KNeighbors Classifier is 0.7831990231990231

In [26]:
#Hangi kolonların model için daha anlamlı olduğunu bulmak için RFE sınıfını kullanıyorum.
#En anlamlı 5 kolonu seçeceğiz. Burda model olarak KNN kullanmak istedim fakat RFE KNNi desteklemiyor.
#Bu yüzden Decision Tree kullanacağım. Çünkü KNNden sonra en yüksek accuracy scoru bu modelden
#elde ettim.
from sklearn.feature_selection import RFE
rfe = RFE(DTclf, n_features_to_select=5)
rfe = rfe.fit(X, y)

list(zip(X.columns,rfe.support_, rfe.ranking_))

[('WorkWeekHrs', True, 1),
 ('YearsCode', True, 1),
 ('Associate degree', False, 3),
 ('Bachelor’s degree (BA, BS, B.Eng., etc.)', True, 1),
 ('I never completed any formal education', False, 6),
 ('Master’s degree (MA, MS, M.Eng., MBA, etc.)', True, 1),
 ('Other doctoral degree (Ph.D, Ed.D., etc.)', False, 2),
 ('Primary/elementary school', False, 4),
 ('Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
  True,
  1),
 ('Some college/university study without earning a degree', False, 5)]

In [27]:
X

,WorkWeekHrs,YearsCode,Associate degree,"Bachelor’s degree (BA, BS, B.Eng., etc.)",I never completed any formal education,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Other doctoral degree (Ph.D, Ed.D., etc.)",Primary/elementary school,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",Some college/university study without earning a degree
Respondent,,,,,,,,,,
28,40.000000,10,0,1,0,0,0,0,0,0
123,45.000000,6,0,1,0,0,0,0,0,0
240,41.000858,2,0,0,0,0,0,0,1,0
635,40.000000,20,0,0,0,1,0,0,0,0
673,41.000858,4,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
88819,41.000858,2,0,1,0,0,0,0,0,0
88844,45.000000,15,0,0,0,1,0,0,0,0
88846,45.000000,6,0,1,0,0,0,0,0,0
25205,41.000858,5,0,1,0,0,0,0,0,0
48134,41.000858,1,0,1,0,0,0,0,0,0

In [36]:
new_data = np.array([35, 10, 0, 1, 0,0,0,0,0,0])
lr.fit(X,y)
if(lr.predict(new_data.reshape(1,-1)) == 0):
    print("Tahmin edilen: "+ "18000 USDden düşük.")
else:
    print("Tahmin edilen: "+ "18000 USDden yüksek.")

Tahmin edilen: 18000 USDden yüksek.

C:\Users\Numan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)